.topbar {
  backface-visibility: hidden;
  background-color: #805D93;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 64px;
  display: flex;
  align-items: center;
}

.topbar .container {
  display: flex;
  justify-content: space-between;
}
.topbar__logo {
  display: inline-block;
  height: 48px;

  img {
    height: 100%;
  }
}

.topbar__group {
  display: flex;
  justify-content: flex-end;
}

.topbar__icon, .topbar__icon i {
  align-items: center;
  color: #FFC6FF;
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  font-weight: normal;
  justify-content: center;
  margin: auto 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #FFADAD;
  }
  div {
    width: 20px;
    height: 20px;
    position: fixed;
    font-size: 1.1rem;
    background: #A0C4FF;
    color: #004777;
    border: 1px solid #004777;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 728px) {
  .topbar__icon,
  .topbar__icon a {
    margin: auto 8px;

    span {
      display: inline-block;
      font-size: 1.5rem;
    }
  }
}