.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #004777;
    background-color: rgba(255, 255, 252, 0.4);
    border-radius: 8px;
    justify-content: center;
    margin-top: 8px;
    padding: 4px;
}

.details__product {
    margin: 16px 8px 16px 8px;
}

.details__image {
    margin: 8px 8px;
    display: flex;
    justify-content: center;
}

.details__image img {
    max-width: 100%;
}

.details__product__name {
    font-size: 3.375rem;
    font-weight: 600;
}

.details__product__pricing {
    font-family: 'Nunito', sans-serif;
    font-size: 2.25rem;
}

.details__product__installments {
    margin-left: 10px;
    font-size: 1.5rem;
}

.details__product__size {
    background-color: #FFFFFC;
    cursor: pointer;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    color: #805D93;
    font-weight: 600;
    border: 1.5px solid rgb(189,178,255);
    opacity: 1;
    font-size: 1.5rem;
}
.details__product__size:hover{
    opacity: 0.6;
    transition: 0.8s;
}

.details__product__size--selected {
    color: #FFFFFC;
    background-color: #805D93;
}
.details__product__add-to-cart button {
    width: 100%;
    max-width: 400px;
    background-color: rgb(128, 93, 147);
    font-size: 2.25rem;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    color: #FFfffc;
    cursor: pointer;
}

.details__product__add-to-cart:hover {
    opacity: 0.6;
    transition: 0.8s;
}

.details__product__pricing--before {
    text-decoration: line-through;
    font-size: 1.8rem;
    color: #A0C4FF ;
    padding-right: 5px;
}
.details__product__pricing--after {
    padding-left: 5px;
}

.details__product__warning {
    margin-top: 8px;
    text-align: center;
    font-size: 1.5rem;
}