@import url('https://fonts.googleapis.com/css?family=Overlock');
@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
  padding-top: 56px;
  font-family: 'Overlock', sans-serif;
  background-image: linear-gradient(#FFADAD, #805D93);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFC;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}


.App--is-open:after{
  background: linear-gradient(0deg, rgba(0, 71, 119, 0.6) 0%, rgba(128, 93, 147,0.8) 100%);
	content: "";
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
  width: 100%;
  z-index: 1;
}
html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFD6A5;
  overflow-x: hidden;
  height: 100%;
  transition: width 0.7s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.sidebar--is-open {
  width: 416px;
}

.sidebar__topbar__header {
  position: fixed;
  height: 64px;
  background-color: #805D93;
  width: 100%;
  top: 0;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: #FFFFFC;
  font-size: 2.25rem;
}
.sidebar__topbar {
  width: 100%;
  z-index: 2;
}

.sidebar__form {
  position: relative;
  display: flex;
  width: 90%;
  margin-top: 16px;
  z-index: 0;
  & > span,
  .sidebar__form__field {
      white-space: nowrap;
      display: block;
      &:not(:first-child):not(:last-child) {
          border-radius: 0;
      }
      &:first-child {
          border-radius: 6px 0 0 6px;
      }
      &:last-child {
          border-radius: 0 6px 6px 0;
      }
      &:not(:first-child) {
          margin-left: -1px;
      }
  }
  .sidebar__form__field {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 1%;
      margin-top: 0;
      margin-bottom: 0;
  }
  & > span {
      font-weight: 700;
      font-family: "Nunito", sans-serif;
      text-align: center;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 25px;
      color: #004777;
      background: #FFFFFC;
      border: 1px solid #805D93;
      transition: background .3s ease, border .3s ease, color .3s ease;
  }
  &:focus-within {
      & > span {
          color: #FFFFFC;
          background: #805D93;
          border-color: #BDB2FF;
      }
  }
}

.sidebar__form__field {
  display: block;
  width: 100%;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  color: #805D93;
  border: 1px solid #805D93;
  background: #FFFFFC;
  transition: border .3s ease;
  &::placeholder{
    color: #004777;
  }
  &:focus{
    outline: none;
    border-color: #BDB2FF;
  }
}


.sidebar__topbar__icon {
  color: #FFFFFC;
  cursor: pointer;
  font-size: 2.25rem;
  margin: 4px 16px 0 0;
}

.sidebar__topbar__text {
  margin: 0 16px;
}

@media screen and(min-width: 1279px){
  .container {
    width: 1279px;
  }
}


.loader {
  margin-top: 100%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  border-top: 16px solid #A0C4FF;
  border-left: 16px solid #FFFFFC;
  border-right: 16px solid #FFFFFC;
  border-bottom: 16px solid #A0C4FF;
  opacity: 0.8;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.result {
  display: flex;
  align-items: stretch;
  margin: 16px 16px;
  background: rgba(255, 255, 252, 0.3);
  border-radius: 8px;
}
.result__image {
  width: 45%;
  height: 100%;

  img {
      height: 100%;
      width: 100%;
      border-radius: 8px 0 0 8px;
  }
}

.result__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #004777;
  margin: 8px;
  font-size: 1.5rem;
  max-width: 50%;
  font-weight: bold;
  width: 100%;
}

.result__info__name {
  margin: 8px;
}

.result__info__price {
  margin: 8px;
  font-family: 'Nunito', sans-serif;
}
.result__info__alternative {
  font-size: 1.2rem;
  color: #A0C4FF;
}

.result__info__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  flex: 1;

  & div {
    margin: 1px;
  }
}

.result__info__quantity-helper {
  margin: 0 6px;
}

.result__info__quantity-remove {
  cursor: pointer;
  font-family: "Nunito";
  background: #805D93;
  color: #FFFFFC;
  margin-top: 2px;
  border-radius: 4px;
}
.result__info__quantity-icon {
    cursor: pointer;
    color: #805D93;
}

@media screen and(max-width: 700px){
  .sidebar--is-open {
    width: 100%;
  }
}
@media screen and(max-width: 500px){
  .result {
    margin: 8px;
  }
}