.products-list {
    margin-top: 60px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.product__box {
    width: 49%;
    text-align: center;
    background-color: #FFFFFC;
    padding: 1rem 0.25rem;
    margin: 0.5%;
    border-radius: 15px;
}

.product__box .product__sizes{
    opacity: 0;
}

.product__box:hover .product__sizes {
    opacity: 0.9;
    transition: 0.7s;
}
.product__image {
    width: 100%;
    margin: 0;
    text-align: center;
    color: black;
    position: relative;
}

.product__image img {
    width: 100%;
}

.product__image--discount {
    width: 20%;
    color: #FFFFFC;
    border-radius: 5px;
    background-color: #004777;
    padding: 5px;
    position: absolute;
    font-size: 1.3rem;
    margin-right: 8px;
    right: 0;
    top: 0;
}

@media screen and (min-width: 992px){
    .product__box {
        width: 24%;
    }
}


.product__name {
    width: 100%;
    background-color: #FFFFFC;
    font-size: 1.4rem;
    font-weight: 600;
    // margin: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #004777;
    font-family: "Nunito";
}

.product__unavailable {
    position: relative;
    padding-bottom: 126.375%;
    background-color: #FFFFFC;
    margin: 0;
    text-align: center;
}

.product__sizes {
    position: absolute;
    top: 0%;
    width: 15%;
    left: 5%;
    display: flex;
    flex-direction: column;
}
.product__sizes--unity {
    margin: 0px 3px 6px 3px;
    border-radius: 10px;
    padding: 3px;
    background-color: #FFD6A5;
    color: #805D93;
    font-size: 1.5rem;
}

.product__unavailable--text {
    font-weight: 600;
    font-family: "Nunito";
    color: #004777;
    position: absolute;
    font-size: 2.2rem;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    word-wrap: break-word;
}

@media only screen and (max-width: 320px) {

    .product__unavailable--text p{ 
       font-size: 0.4em; 
    }
 
 }

 @media only screen and (min-width: 320px) {

    .product__unavailable--text p{ 
       font-size: 1.2em; 
    }
 
 }


@media only screen and (min-width: 520px) {

    .product__unavailable--text p{ 
       font-size: 1.8em; 
    }
 
}

@media only screen and (min-width: 1180px) {

    .product__unavailable--text p{ 
       font-size: 2.2em; 
    }
 
}

.product__price {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding-top: 3px;
    text-align: center;
    font-style: "Overlock";
}

.product__price--after {
    color: #004777;
    padding-left: 5px;
}

.product__price--before {
    text-decoration: line-through;
    color: #A0C4FF ;
    padding-right: 5px;
}
